.search-field {
    -webkit-appearence: none;
    outline: none;
    border: none;
    width: 300px;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 100px;
}